<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'app_portafolio/style.css'%}"> <!-- El diseño de la vista se importa de un archivo css  -->
    </head>
    <body>
        <section class="form-login"> <!-- Se crea un formulario de login -->
            {% load static %}
            <div class="row justify-content-center">
                <div class="col-3">
                    <img src="{% static 'app_portafolio/icono_final.jpg' %}" width="68px". height="68.9px">
                    <br>
                </div>
            </div>
            <h5>FIRST-FOLIO</h5>
            <form method="post" action="{% url 'app_portafolio:index'%}"> 
            {% csrf_token %} <!-- para extraer información de manera segura desde el browser al servidor-->
                <input class = "controls" type="text" name="usuario" value="" placeholder="Usuario"> <!-- Se crea un casillero para ingresar el nombre del usuario  -->
                <input class = "controls" type="password" name="contrasena" value="" placeholder="Contraseña"> <!-- Se crea un casillero para ingresar la contraseña del usuario  -->
                <button class = "buttons"  type="submit">Ingresar</button> <!-- Se crea un boton para ingresar a la vista de dashboard  -->
            </form>

            <form method="post" action="{% url 'app_portafolio:create_new_user'%}"> 
            {% csrf_token %}
                <button type="submit" class="buttons" href="{% url 'app_portafolio:create_new_user' %}">Crear un nuevo usuario</a>
            </form>
        </section>
    </body>
</html>
